{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}ACE Projects{% endblock %}
{% block content %}

    <section class="blog-section large-section gray-section">

        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider" data-bigletter="R" data-aos="fade-up"
                        data-aos-delay="100" data-aos-anchor-placement="top-bottom"
                        data-aos-easing="ease-in-out" data-aos-duration="700">Our Projects</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row blog-grid-row">
                {% for project in projects %}
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a href="#" class="img-wrapper">
                                <img src="{{ project.picture.url }}" style="width:100% !important;" alt="" class="img-fluid">
                            </a>
                            <a href="#" class="tag bg-color-purple">
                                {{project.tools}}
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" _href="#">{{project.name}}</a>
                            <p class="post-content">{{project.description}}</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Developed  by <a href="#"> 
                                   {% for owner in project.created_by.all %}
                                    {{owner.name.first_name}}{{owner.name.last_name}}|
                                    {% endfor %}
                                
                            </a></p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}

<!-- To make the navbar solid on this page.-->  

{% block footer %}
    <script type="text/javascript">
      $(document).ready(function () {
        $("nav").addClass("navbar-fill");
        $("#footer-year-display").text(new Date().getFullYear());
      });
    </script>
    {% endblock %}